// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";


body.swal2-shown > [aria-hidden="true"] {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
  
body > * {
    transition: 0.1s filter linear;
}
